@media (max-width:1024px) {
	.sb_main-wrapper {
		flex-direction: column;
	}

	.ss_coupon-container {
		flex-direction: column;
	}
	.ss_sidebar {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(500px,1fr));
	}

	.coupon_sidebar-related {
		width: 330px;
	}

	


}

@media (max-width:992px) {
	.head_search_bar {
		flex: 0 0 460px;
	}

	.f_a_q_container {
		background: inherit !important;
	}

	.f_a_q_wrapper {
		width: 100%;
	}

	/* About Us */
	.progress_container {
		flex-direction: column;
	}

	.left_icon {
		flex: 0 0 240px;
		row-gap: 0px;
	}

	.about_us-wrapper {
		flex-direction: column-reverse;
	}

	.au_sidebar {
		width: 100%;
		flex: 0 0 auto;
		margin-top: 0;
		box-shadow: none;
		border-radius: 10px;
		min-height: auto;
	}

	.abu_wrpr {
		flex-direction: row;
	}

	.abu_item {
		border: 1px solid #0001;
		border-left: 0;
		flex: 1;
		justify-content: center;
	}

	.au_item {
		border: 1px solid #0001;
		border-left: 0;
		flex: 1;
		justify-content: center;
	}

	.contact_us_img {
		display: none;
	}

	.store_head {
		flex-direction: column-reverse;
		align-items: inherit;
	}

	.latest_post-item {
		flex-direction: column;
		align-items: center;
		grid-gap: 20px;
	}

	.lpi_img {
		width: 450px;
		flex: 0 0 230px;
		margin-left: 15px;
		margin-top: 15px;
	}

	.banner_two.blog_img {
		transform: translate(-25px, -25px);
	}

	.lpi_content {
		text-align: center;
	}


}

@media (max-width:768px) {

	.toggle_menu {
		display: block;
	}

	.main_menu {
		display: none;
	}

	.btn_head_wrapper {
		display: none;
	}

	.head_search_bar {
		flex: 1;
	}

	.category_item-link {
		grid-gap: 10px;
		font-size: 18px;
		padding: 10px;
	}

	.input {
		max-width: 100%;
	}

	#reply_form {
		max-width: 100%;
	}

	.coupon_dis {
		display: none;
	}

	.coupon.coupon_card {
		flex-direction: column;
		align-items: flex-start;
	}

	.ss_info {
		grid-gap: 20px;
	}

	.st.st_uses {
		flex: 0 0 auto;
	}
}

@media (max-width:600px) {
	.cat_head_viewmore-btn {
		display: none;
	}

	.ss_profile-content h2 {
		font-size: 22px;
	}
	.ss_coupon-code {
		width: auto;
		padding: 5px 15px;
	}
}

@media (max-width:500px) {
	.left_icon {
		display: none;
	}

	.why_we {
		padding: 10px 0 0 0;
	}

	.search_result_box {
		left: 0;
	}

	.lpi_img {
		height: 200px;
		width: 100%;
		flex: 0 0 200px;
		border-width: 10px;
		margin: 25px 0 0 0;
	}

	.banner_two.blog_img {
		transform: translate(-50%, -30px);
		left: 50%;
		max-width: calc(100% - 40px);
	}

	.ss_coupon-code {
		padding: 5px 15px;
	}

	.ss_sidebar {
		grid-template-columns: repeat(auto-fill, minmax(100%,1fr));
	}


}


@media (max-width:425px) {
	.info_wrapper {
		flex-direction: column;
	}

	.info_item {
		flex: inherit;
		width: 100%;
	}

	.ss_info {
		flex-direction: column;
		grid-gap: 5px;
		align-items: flex-start;
	}

	.ss_profile-content p {
		font-size: 13px;
	}

	.rating-stars {
		flex-direction: column;
		align-items: flex-start;
	}
	
}

/* Media Query */

@media (min-width: 992px) {
	.container {
		width: 970px;
	}
}

@media (min-width: 768px) {
	.container {
		width: 750px;
	}
}


@media (max-width: 1400px) {
	.container {
		width: 90%;
	}
}

@media (min-width: 1300px) {
	.container {
		width: 1300px;
	}
}

@media (max-width: 992px) {
	.container {
		width: 100%;
	}
}